@import url("https://fonts.googleapis.com/css?family=Montserrat");
@font-face {
  font-family:MuseoSansCyrl-300;
  font-style:normal;
  font-weight:400;
  src:url(MuseoSansCyrl-300.eot?#iefix) format("embedded-opentype"),
  url(MuseoSansCyrl-300.woff) format("woff"),
  url(MuseoSansCyrl-300.ttf) format("truetype")
}
@font-face {
  font-family:MuseoSansCyrl-500;
  font-style:normal;
  font-weight:400;
  src:url(MuseoSansCyrl-500.eot?#iefix) format("embedded-opentype"),
  url(MuseoSansCyrl-500.woff) format("woff"),
  url(MuseoSansCyrl-500.ttf) format("truetype")
}
@font-face {
  font-family:MuseoSansCyrl-700;
  font-style:normal;
  font-weight:400;
  src:url(MuseoSansCyrl-700.eot?#iefix) format("embedded-opentype"),
  url(MuseoSansCyrl-700.woff) format("woff"),
  url(MuseoSansCyrl-700.ttf) format("truetype")
}
@font-face {
  font-family:Montserrat;
  src:url(Montserrat_7_0.ttf) format("truetype");
  font-weight:700
}
.app_base_forgot .m-0,
.app_base_login .m-0 {
  margin:0
}
.app_base_forgot input#password::-ms-clear,
.app_base_forgot input#password::-ms-reveal,
.app_base_forgot input[type=password]::-ms-clear,
.app_base_forgot input[type=password]::-ms-reveal,
.app_base_login input#password::-ms-clear,
.app_base_login input#password::-ms-reveal,
.app_base_login input[type=password]::-ms-clear,
.app_base_login input[type=password]::-ms-reveal {
  display:none
}
.app_base_forgot input#password::-webkit-contacts-auto-fill-button,
.app_base_forgot input#password::-webkit-credentials-auto-fill-button,
.app_base_forgot input[type=password]::-webkit-contacts-auto-fill-button,
.app_base_forgot input[type=password]::-webkit-credentials-auto-fill-button,
.app_base_login input#password::-webkit-contacts-auto-fill-button,
.app_base_login input#password::-webkit-credentials-auto-fill-button,
.app_base_login input[type=password]::-webkit-contacts-auto-fill-button,
.app_base_login input[type=password]::-webkit-credentials-auto-fill-button {
  visibility:hidden;
  display:none!important;
  pointer-events:none;
  height:0;
  width:0;
  margin:0
}
.app_base_forgot h1,
.app_base_forgot h2,
.app_base_forgot h3,
.app_base_login h1,
.app_base_login h2,
.app_base_login h3 {
  text-transform:uppercase;
  font-family:Montserrat,sans-serif;
  color:#4d4d4f;
  font-weight:700
}
.app_base_forgot h4,
.app_base_login h4 {
  font-family:MuseoSansCyrl-700,sans-serif;
  color:#000
}
.app_base_forgot a,
.app_base_forgot body,
.app_base_forgot label,
.app_base_forgot p,
.app_base_login a,
.app_base_login body,
.app_base_login label,
.app_base_login p {
  font-family:MuseoSansCyrl-300,sans-serif;
  color:#000
}
.app_base_forgot .form-group,
.app_base_login .form-group {
  position:relative
}
.app_base_forgot .form-group .toggle-password,
.app_base_login .form-group .toggle-password {
  top:19px;
  position:absolute;
  right:15px;
  color:#aaa
}
.app_base_forgot .form-group label,
.app_base_login .form-group label {
  font-family:Montserrat,serif;
  letter-spacing:1px;
  text-transform:uppercase;
  margin-bottom:5px;
  font-size:12px
}
.app_base_forgot .form-group .input-error,
.app_base_login .form-group .input-error {
  top:19px;
  position:absolute;
  right:15px;
  display:none
}
.app_base_forgot .form-group.has-error .fa,
.app_base_login .form-group.has-error .fa {
  color:#d42b47
}
.app_base_forgot .form-group.has-error .fa.input-error,
.app_base_login .form-group.has-error .fa.input-error {
  display:block
}
.app_base_forgot input,
.app_base_login input {
  display:block;
  box-sizing:border-box;
  width:100%;
  height:51px;
  margin:0 0 1.7647058824rem;
  padding:.8823529412rem;
  border:1px solid #aaa;
  border-radius:0;
  background-color:#fff;
  box-shadow:inset 0 1px 2px hsla(0,0%,7%,.1);
  font-family:inherit;
  font-size:1rem;
  font-weight:300;
  line-height:22px;
  color:#111;
  transition:box-shadow .5s,border-color .25s ease-in-out;
  appearance:none
}
.app_base_forgot a,
.app_base_login a {
  color:#d3178e
}
.app_base_forgot .alert-danger,
.app_base_login .alert-danger {
  padding:0;
  font-family:Montserrat,serif;
  letter-spacing:1px;
  font-size:12px;
  font-weight:700;
  text-transform:uppercase;
  background-color:transparent;
  color:#c60f13;
  border:0
}
.app_base_forgot .alert-danger button.close,
.app_base_login .alert-danger button.close {
  display:none
}
.app_base_forgot .custom-container.mobile-view div.login-panel.login-form-container,
.app_base_forgot .custom-container.mobile-view div.login-panel:not(.login-form-container),
.app_base_login .custom-container.mobile-view div.login-panel.login-form-container,
.app_base_login .custom-container.mobile-view div.login-panel:not(.login-form-container) {
  padding:0
}
.app_base_forgot .custom-container div.login-panel.login-form-container,
.app_base_login .custom-container div.login-panel.login-form-container {
  border-right:1px solid #dadada;
  padding-right:115px
}
.app_base_forgot .custom-container div.login-panel:not(.login-form-container),
.app_base_login .custom-container div.login-panel:not(.login-form-container) {
  padding-left:115px
}
.app_base_forgot .custom-container div.login-panel .login-forgot,
.app_base_login .custom-container div.login-panel .login-forgot {
  padding:0
}
.app_base_forgot .custom-container header.custom-header,
.app_base_login .custom-container header.custom-header {
  background-color:#fff;
  height:60px;
  border-bottom:1px solid #dadada
}
.app_base_forgot .custom-container footer.custom-footer,
.app_base_login .custom-container footer.custom-footer {
  background-color:#111
}
.app_base_forgot .custom-container footer.custom-footer span,
.app_base_login .custom-container footer.custom-footer span {
  font-family:MuseoSansCyrl-500,sans-serif;
  color:#fff
}
.app_base_forgot .custom-container .custom-title,
.app_base_login .custom-container .custom-title {
  font-size:40px;
  margin:57px auto 27px;
  line-height:50px;
  color:#444
}
.app_base_forgot .custom-container .custom-flexcontent,
.app_base_login .custom-container .custom-flexcontent {
  background-color:#fff
}
.app_base_forgot .custom-container .custom-flexcontent .login-panel.panel-transparent,
.app_base_login .custom-container .custom-flexcontent .login-panel.panel-transparent {
  background-color:transparent
}
.app_base_forgot .custom-container .custom-flexcontent .login-panel .has-error .form-control,
.app_base_login .custom-container .custom-flexcontent .login-panel .has-error .form-control {
  border-color:#a94442
}
.app_base_forgot .custom-container .custom-flexcontent .login-panel .btn,
.app_base_login .custom-container .custom-flexcontent .login-panel .btn {
  color:#000
}
.app_base_forgot .custom-container .custom-flexcontent .login-panel .btn-primary,
.app_base_login .custom-container .custom-flexcontent .login-panel .btn-primary {
  text-transform:uppercase;
  color:#fff;
  background:#d3178e;
  border-color:transparent
}
.app_base_forgot .custom-container .custom-flexcontent .login-panel .btn-default,
.app_base_login .custom-container .custom-flexcontent .login-panel .btn-default {
  text-transform:uppercase;
  color:#d3178e;
  background:transparent;
  border-color:#d3178e
}
.app_base_forgot .custom-container .custom-flexcontent .login-panel .mb-2,
.app_base_login .custom-container .custom-flexcontent .login-panel .mb-2 {
  margin-bottom:20px
}
.app_base_forgot .custom-container .custom-flexcontent .login-panel .btn.btn-link,
.app_base_login .custom-container .custom-flexcontent .login-panel .btn.btn-link {
  border-color:transparent;
  text-transform:uppercase;
  color:#d3178e
}
.app_base_forgot .custom-container .custom-flexcontent .login-panel .btn.btn-link:focus,
.app_base_forgot .custom-container .custom-flexcontent .login-panel .btn.btn-link:hover,
.app_base_login .custom-container .custom-flexcontent .login-panel .btn.btn-link:focus,
.app_base_login .custom-container .custom-flexcontent .login-panel .btn.btn-link:hover {
  text-decoration:none;
  color:#000
}
.app_base_forgot .custom-container .custom-flexcontent .login-panel .btn-default:focus,
.app_base_forgot .custom-container .custom-flexcontent .login-panel .btn-default:hover,
.app_base_forgot .custom-container .custom-flexcontent .login-panel .btn-primary:focus,
.app_base_forgot .custom-container .custom-flexcontent .login-panel .btn-primary:hover,
.app_base_login .custom-container .custom-flexcontent .login-panel .btn-default:focus,
.app_base_login .custom-container .custom-flexcontent .login-panel .btn-default:hover,
.app_base_login .custom-container .custom-flexcontent .login-panel .btn-primary:focus,
.app_base_login .custom-container .custom-flexcontent .login-panel .btn-primary:hover {
  background:#111;
  color:#fff;
  border-color:transparent
}
.app_base_forgot .custom-container .custom-flexcontent .error-message,
.app_base_login .custom-container .custom-flexcontent .error-message {
  font-family:MuseoSansCyrl-500,sans-serif
}
.app_base_forgot h1,
.app_base_login h1 {
  margin:0
}
.app_base_forgot body,
.app_base_login body {
  height:100%
}
.app_base_forgot .container,
.app_base_login .container {
  padding-right:40px;
  padding-left:40px
}
.app_base_forgot .row,
.app_base_login .row {
  margin-right:-40px;
  margin-left:-40px
}
.app_base_forgot .col-lg-1,
.app_base_forgot .col-lg-2,
.app_base_forgot .col-lg-3,
.app_base_forgot .col-lg-4,
.app_base_forgot .col-lg-5,
.app_base_forgot .col-lg-6,
.app_base_forgot .col-lg-7,
.app_base_forgot .col-lg-8,
.app_base_forgot .col-lg-9,
.app_base_forgot .col-lg-10,
.app_base_forgot .col-lg-11,
.app_base_forgot .col-lg-12,
.app_base_forgot .col-md-1,
.app_base_forgot .col-md-2,
.app_base_forgot .col-md-3,
.app_base_forgot .col-md-4,
.app_base_forgot .col-md-5,
.app_base_forgot .col-md-6,
.app_base_forgot .col-md-7,
.app_base_forgot .col-md-8,
.app_base_forgot .col-md-9,
.app_base_forgot .col-md-10,
.app_base_forgot .col-md-11,
.app_base_forgot .col-md-12,
.app_base_forgot .col-sm-1,
.app_base_forgot .col-sm-2,
.app_base_forgot .col-sm-3,
.app_base_forgot .col-sm-4,
.app_base_forgot .col-sm-5,
.app_base_forgot .col-sm-6,
.app_base_forgot .col-sm-7,
.app_base_forgot .col-sm-8,
.app_base_forgot .col-sm-9,
.app_base_forgot .col-sm-10,
.app_base_forgot .col-sm-11,
.app_base_forgot .col-sm-12,
.app_base_forgot .col-xs-1,
.app_base_forgot .col-xs-2,
.app_base_forgot .col-xs-3,
.app_base_forgot .col-xs-4,
.app_base_forgot .col-xs-5,
.app_base_forgot .col-xs-6,
.app_base_forgot .col-xs-7,
.app_base_forgot .col-xs-8,
.app_base_forgot .col-xs-9,
.app_base_forgot .col-xs-10,
.app_base_forgot .col-xs-11,
.app_base_forgot .col-xs-12,
.app_base_login .col-lg-1,
.app_base_login .col-lg-2,
.app_base_login .col-lg-3,
.app_base_login .col-lg-4,
.app_base_login .col-lg-5,
.app_base_login .col-lg-6,
.app_base_login .col-lg-7,
.app_base_login .col-lg-8,
.app_base_login .col-lg-9,
.app_base_login .col-lg-10,
.app_base_login .col-lg-11,
.app_base_login .col-lg-12,
.app_base_login .col-md-1,
.app_base_login .col-md-2,
.app_base_login .col-md-3,
.app_base_login .col-md-4,
.app_base_login .col-md-5,
.app_base_login .col-md-6,
.app_base_login .col-md-7,
.app_base_login .col-md-8,
.app_base_login .col-md-9,
.app_base_login .col-md-10,
.app_base_login .col-md-11,
.app_base_login .col-md-12,
.app_base_login .col-sm-1,
.app_base_login .col-sm-2,
.app_base_login .col-sm-3,
.app_base_login .col-sm-4,
.app_base_login .col-sm-5,
.app_base_login .col-sm-6,
.app_base_login .col-sm-7,
.app_base_login .col-sm-8,
.app_base_login .col-sm-9,
.app_base_login .col-sm-10,
.app_base_login .col-sm-11,
.app_base_login .col-sm-12,
.app_base_login .col-xs-1,
.app_base_login .col-xs-2,
.app_base_login .col-xs-3,
.app_base_login .col-xs-4,
.app_base_login .col-xs-5,
.app_base_login .col-xs-6,
.app_base_login .col-xs-7,
.app_base_login .col-xs-8,
.app_base_login .col-xs-9,
.app_base_login .col-xs-10,
.app_base_login .col-xs-11,
.app_base_login .col-xs-12 {
  padding-right:5px;
  padding-left:5px
}
.app_base_forgot .form-group,
.app_base_login .form-group {
  margin-bottom:15px
}
.app_base_forgot .navbar,
.app_base_login .navbar {
  display:none
}
.app_base_forgot .content,
.app_base_login .content {
  padding-top:0
}
.app_base_forgot .custom-container,
.app_base_login .custom-container {
  display:flex;
  flex-flow:column;
  height:100%
}
.app_base_forgot .custom-container header.custom-header,
.app_base_login .custom-container header.custom-header {
  flex:0 0 auto
}
.app_base_forgot .custom-container header.custom-header img,
.app_base_login .custom-container header.custom-header img {
  height:24px;
  margin:18px 0
}
.app_base_forgot .custom-container footer.custom-footer,
.app_base_login .custom-container footer.custom-footer {
  flex:0 0 auto;
  height:50px
}
.app_base_forgot .custom-container .forgot-password,
.app_base_forgot .custom-container .login-container,
.app_base_login .custom-container .forgot-password,
.app_base_login .custom-container .login-container {
  min-width:0;
  padding:0
}
.app_base_forgot .custom-container .login-container,
.app_base_login .custom-container .login-container {
  margin-bottom:20px
}
.app_base_forgot .custom-container .custom-flexcontent .login-panel,
.app_base_login .custom-container .custom-flexcontent .login-panel {
  border:0;
  border-radius:0;
  padding:0 24px;
  margin-left:0;
  margin-right:0;
  margin-bottom:10px
}
.app_base_forgot .custom-container .custom-flexcontent .login-panel.panel-transparent,
.app_base_login .custom-container .custom-flexcontent .login-panel.panel-transparent {
  padding:10px 0
}
.app_base_forgot .custom-container .custom-flexcontent .login-panel>.row,
.app_base_login .custom-container .custom-flexcontent .login-panel>.row {
  margin-left:0;
  margin-right:0
}
.app_base_forgot .custom-container .custom-flexcontent .login-panel .login-message,
.app_base_login .custom-container .custom-flexcontent .login-panel .login-message {
  margin-top:0;
  height:inherit
}
.app_base_forgot .custom-container .custom-flexcontent .login-panel .login-message.massage-small,
.app_base_login .custom-container .custom-flexcontent .login-panel .login-message.massage-small {
  min-height:18px;
  line-height:18px
}
.app_base_forgot .custom-container .custom-flexcontent .login-panel h2,
.app_base_forgot .custom-container .custom-flexcontent .login-panel h3,
.app_base_login .custom-container .custom-flexcontent .login-panel h2,
.app_base_login .custom-container .custom-flexcontent .login-panel h3 {
  margin-top:0
}
.app_base_forgot .custom-container .custom-flexcontent .login-panel .btn,
.app_base_login .custom-container .custom-flexcontent .login-panel .btn {
  height:auto;
  border-radius:5px;
  border-width:1px;
  border-style:solid
}
.app_base_forgot .custom-container .custom-flexcontent .login-panel .dropdown-select,
.app_base_login .custom-container .custom-flexcontent .login-panel .dropdown-select {
  border-color:#000;
  height:37px
}
.app_base_forgot .custom-container .custom-flexcontent .login-panel .dropdown-select .dropdown-selected-option-container,
.app_base_login .custom-container .custom-flexcontent .login-panel .dropdown-select .dropdown-selected-option-container {
  line-height:23px;
  font-family:MuseoSansCyrl-300
}
.app_base_forgot .custom-container .custom-flexcontent .login-panel .dropdown-options-container .dropdown-options .dropdown-option,
.app_base_login .custom-container .custom-flexcontent .login-panel .dropdown-options-container .dropdown-options .dropdown-option {
  font-family:MuseoSansCyrl-300
}
.app_base_forgot .custom-container .custom-flexcontent .error-message,
.app_base_login .custom-container .custom-flexcontent .error-message {
  top:26px;
  padding:9px 7px
}
.app_base_forgot .custom-container .custom-flexcontent.forgot-password .has-error:before,
.app_base_login .custom-container .custom-flexcontent.forgot-password .has-error:before {
  content:"";
  top:18px
}
.app_base_forgot h1,
.app_base_login h1 {
  font-size:30px;
  line-height:85px
}
.app_base_forgot .container .login-panel h2,
.app_base_forgot .container .login-panel h3,
.app_base_login .container .login-panel h2,
.app_base_login .container .login-panel h3 {
  font-size:30px;
  margin-bottom:20px;
  font-weight:700;
  font-family:Montserrat,serif;
  text-transform:none;
  font-style:normal;
  color:#111;
  line-height:1
}
.app_base_forgot h4,
.app_base_login h4 {
  font-size:24px
}
.app_base_forgot a,
.app_base_forgot body,
.app_base_forgot input,
.app_base_forgot p,
.app_base_login a,
.app_base_login body,
.app_base_login input,
.app_base_login p {
  font-size:16px
}
.app_base_forgot .custom-container footer.custom-footer span,
.app_base_login .custom-container footer.custom-footer span {
  font-size:12px;
  line-height:50px
}
@media (max-width:768px) {
  .app_base_forgot .custom-container footer.custom-footer span,
  .app_base_login .custom-container footer.custom-footer span {
    line-height:12px
  }
}
.app_base_forgot .custom-container .custom-flexcontent .login-panel a>.fa,
.app_base_login .custom-container .custom-flexcontent .login-panel a>.fa {
  font-size:12px
}
.app_base_forgot .custom-container .custom-flexcontent .login-panel .btn,
.app_base_login .custom-container .custom-flexcontent .login-panel .btn {
  font-size:16px;
  line-height:1em
}
.app_base_forgot .custom-container .custom-flexcontent .login-panel .login-list li,
.app_base_login .custom-container .custom-flexcontent .login-panel .login-list li {
  font-size:20px;
  line-height:20px
}
.app_base_forgot .custom-container .custom-flexcontent .error-message,
.app_base_login .custom-container .custom-flexcontent .error-message {
  font-size:14px
}
@media (max-width:768px) {
  .app_base_forgot h1,
  .app_base_login h1 {
    text-align:center
  }
  .app_base_forgot .container,
  .app_base_login .container {
    width:95%
  }
}
.app_base_forgot .tooltip .tooltip-inner,
.app_base_login .tooltip .tooltip-inner {
  padding:3px 15px
}
@media (max-width:768px) {
  .app_base_forgot .custom-container header.custom-header .col-xs-12,
  .app_base_login .custom-container header.custom-header .col-xs-12 {
    text-align:center
  }
}
.app_base_forgot .custom-container footer.custom-footer span,
.app_base_login .custom-container footer.custom-footer span {
  padding-left:10px
}
.app_base_forgot .custom-container footer.custom-footer img,
.app_base_login .custom-container footer.custom-footer img {
  height:16px
}
@media (max-width:768px) {
  .app_base_forgot .custom-container footer.custom-footer img,
  .app_base_login .custom-container footer.custom-footer img {
    padding-top:10px;
    padding-bottom:10px
  }
  .app_base_forgot .custom-container footer.custom-footer span,
  .app_base_login .custom-container footer.custom-footer span {
    padding-left:0;
    display:block
  }
}
@media (min-width:768px) {
  .app_base_forgot .custom-container .custom-flexcontent,
  .app_base_login .custom-container .custom-flexcontent {
    flex:1 0 auto;
    display:flex;
    flex-flow:row;
    align-items:flex-start
  }
  .app_base_forgot .custom-container .custom-flexcontent>.container>.row,
  .app_base_login .custom-container .custom-flexcontent>.container>.row {
    flex:0 100%;
    display:flex;
    flex-flow:row;
    align-items:stretch
  }
}
.app_base_forgot .custom-container .custom-flexcontent .login-panel,
.app_base_login .custom-container .custom-flexcontent .login-panel {
  margin-top:30px
}
@media (min-width:768px) {
  .app_base_forgot .custom-container .custom-flexcontent .login-panel.custom-flexpanel,
  .app_base_login .custom-container .custom-flexcontent .login-panel.custom-flexpanel {
    flex:1 1 50%
  }
}
.app_base_forgot .custom-container .custom-flexcontent .login-panel .btn,
.app_base_login .custom-container .custom-flexcontent .login-panel .btn {
  padding:15px 30px
}
.login-language {
  margin-top:40px
}
.login-language .control-label {
  margin-top:0
}
.login-language .col-no-padding {
  padding-left:0;
  padding-right:0
}
