.navbar {
  color:#201d1e;
  background-color:#ededed
}
.navbar .top-nav .dropdown-container button {
  border-left-color:#ededed;
  border-right-color:#ededed
}
body>:first-child:not(.has-theme) .top-nav>li>a {
  color:#201d1e
}
body>:first-child:not(.has-theme) .top-nav>li.open>a,
body>:first-child:not(.has-theme) .top-nav>li.open>a:active,
body>:first-child:not(.has-theme) .top-nav>li.open>a:focus,
body>:first-child:not(.has-theme) .top-nav>li.open>a:hover,
body>:first-child:not(.has-theme) .top-nav>li>a:focus,
body>:first-child:not(.has-theme) .top-nav>li>a:hover {
  color:#201d1e;
  background-color:#fff;
  border-color:#fff
}
body>:first-child:not(.has-theme) .top-nav>li.open>a {
  border-bottom-color:#fff
}
body>:first-child:not(.has-theme) .top-nav>li.open>.dropdown-menu {
  background-color:#fff;
  border-top-color:#0056a7
}
body>:first-child:not(.has-theme) .top-nav>li.open>.dropdown-menu li a {
  border-bottom-color:#ccc;
  color:#201d1e
}
body>:first-child:not(.has-theme) .top-nav>li.open>.dropdown-menu li a:active,
body>:first-child:not(.has-theme) .top-nav>li.open>.dropdown-menu li a:focus,
body>:first-child:not(.has-theme) .top-nav>li.open>.dropdown-menu li a:hover {
  color:#fff;
  background-color:#ccc;
  border-color:#0056a7
}
body>:first-child:not(.has-theme) .top-nav .dropdown-container button:focus,
body>:first-child:not(.has-theme) .top-nav .dropdown-container button:hover,
body>:first-child:not(.has-theme) .top-nav .dropdown-container button[aria-expanded=true] {
  background-color:#fff
}
body>:first-child:not(.has-theme) .top-nav .dropdown-container .dropdown-options-container {
  color:#201d1e;
  background-color:#fff;
  border-top-color:#0056a7
}
body>:first-child:not(.has-theme) .top-nav .dropdown-container .dropdown-options-container .dropdown-options .dropdown-option {
  border-bottom-color:#ccc
}
body>:first-child:not(.has-theme) .top-nav .dropdown-container .dropdown-options-container .dropdown-options .dropdown-option.highlighted {
  background-color:#ccc;
  color:#fff
}
body>:first-child:not(.has-theme) .collaborators-calendar .collaborator-suggestions li.active,
body>:first-child:not(.has-theme) .collaborators .collaborator-suggestions li.active,
body>:first-child:not(.has-theme) .level1>.searchbar .searchtypeContainer .dropdown-menu li>a:active,
body>:first-child:not(.has-theme) .level1>.searchbar .searchtypeContainer .dropdown-menu li>a:focus,
body>:first-child:not(.has-theme) .level1>.searchbar .searchtypeContainer .dropdown-menu li>a:hover,
body>:first-child:not(.has-theme) .tags-fields .autofill-list-container li.active,
body>:first-child:not(.has-theme) .taskview div.taskcollabs .collaborator-suggestions ul li.active {
  background:#0056a7
}
body>:first-child:not(.has-theme) .addattendeesresources .suggestions .suggestion.highlighted {
  background-color:#0056a7
}
body>:first-child:not(.has-theme) .dropdown-hover>ul>li.active,
body>:first-child:not(.has-theme) .dropdown-hover>ul>li:active,
body>:first-child:not(.has-theme) .dropdown-hover>ul>li:focus,
body>:first-child:not(.has-theme) .dropdown-hover>ul>li:hover,
body>:first-child:not(.has-theme) .dropdown-menu li>a:active,
body>:first-child:not(.has-theme) .dropdown-menu li>a:focus,
body>:first-child:not(.has-theme) .dropdown-menu li>a:hover {
  color:#fff;
  background-color:#0056a7
}
body>:first-child:not(.has-theme) .btn-primary,
body>:first-child:not(.has-theme) .btn-primary[aria-expanded=true],
body>:first-child:not(.has-theme) .open>.dropdown-toggle.btn-primary {
  border-color:#08468d;
  color:#fff;
  background:#0056a7;
  background:linear-gradient(180deg,#0056a7 0,#0056a7);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0056a7",endColorstr="#0056a7",GradientType=0)
}
body>:first-child:not(.has-theme) .btn-primary:focus,
body>:first-child:not(.has-theme) .btn-primary:hover {
  border-color:#08468d;
  color:#fff;
  background:#094992;
  background:linear-gradient(180deg,#094992 0,#094992);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#094992",endColorstr="#094992",GradientType=0)
}
body>:first-child:not(.has-theme) .btn-primary:active {
  border-color:#053975;
  color:#fff;
  background:#053975;
  background:linear-gradient(180deg,#053975 0,#053975);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#053975",endColorstr="#053975",GradientType=0)
}
body>:first-child:not(.has-theme) .sq-modal-content .sq-modal-header {
  background:#555
}
body>:first-child:not(.has-theme) .dropdown-container .dropdown-options-container .dropdown-options .dropdown-option.highlighted {
  background-color:#0056a7;
  color:#fff
}
body>:first-child:not(.has-theme) .dropdown-container .dropdown-options-container .dropdown-options .dropdown-option.highlighted .fa {
  color:#fff
}
body>:first-child:not(.has-theme) .dropdown-container .dropdown-options-container .dropdown-options-down:hover,
body>:first-child:not(.has-theme) .dropdown-container .dropdown-options-container .dropdown-options-up:hover {
  background-color:#0056a7;
  color:#fff
}
.mobiletopnavbar .btn-box.btn-primary {
  border-color:#08468d;
  color:#fff;
  background:#0056a7
}
.mobiletopnavbar .btn-box.btn-primary:focus,
.mobiletopnavbar .btn-box.btn-primary:hover {
  border-color:#08468d;
  color:#fff;
  background:#094992
}
.mobiletopnavbar .btn-box.btn-primary:active {
  border-color:#053975;
  color:#fff;
  background:#053975
}
